@use 'sass:math';
@import 'index.scss';

.topnav{
    width:100%;
    display:flex;
    margin:0 auto;
    justify-content: space-around;
    align-items: center;
    margin-top:20px;
    padding-block:1.5rem; 



    @media (max-width:$phone ){
        display:flex;
        justify-content:space-around;
        align-items:center;
        gap:20px;
        padding-block:1.5rem;
        margin-top:20px;
      
    }


    h1 a{
        font-family: $title-font;
        font-weight: 400;
        font-style: normal;
        font-size: $txt-big;
        color:$dark-grey;
        text-align: left;
        width:fit-content;
        z-index: 10;
    
        @media(max-width:$phone){
            font-size:$txt-medium;
        }
   
    
        @media(min-width:$tablet){
        font-size: $txt-huge;
      }
    }

    &__open{
        z-index:10;
        @media( width > $phone) {
            display:none;
        
        }
    }


    &__menu{
        font-family: $menu-font;
        text-decoration: none;

        @media (width < $phone){
            background-color:  $dark-grey;
            height: 100vh;
            width: 100%;
            position: fixed;
            top: 0;
            right: -100%;
            display: flex;
            flex-direction: column;
            align-items: center;    
            justify-content: flex-start;
            text-align: center;
            transition: .5s ease;
        
        }

    }


    &__links{
        font-size: $txt-medium;
        text-decoration: none;

       

        @media (width < $phone){    
        font-size: $txt-huge;
            color:$title-color;
            margin-block-start: 8rem;
        }

        @media (width >=  $phone){    
            color:$dark-grey;
            display:flex;  
           
        
        }
    }

    &__item{
        padding:10px;
        cursor:pointer;
        transition: opacity 0.3s ease;
        &:hover{
           
            opacity:50%;
            transition: 2.5seg;
        }
    }

  

    &_menu,
    &__active{
        right:0;
    
    }


    &__actual{
        text-decoration: underline;
    }



    }

.content{
    width:$content-width;
    margin:20px auto;   
    font-family: $text-font;
    


   


    &__titles:not(#first-title){
        border-bottom: 1px solid $dark-grey;
        font-size: $txt-regular;
        font-family: $menu-font;
        
    }
    
    #first-title{
        font-size: $txt-regular;
        font-family: $menu-font;
    }
    &__album{
        display:flex;
        justify-content: space-between;
        border-bottom: 1px solid $dark-grey;

        .album-nav{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap:10px;
            font-family: $menu-font;
            font-size: $txt-small;

        

            a:hover{
               opacity: .5;
            }
        }

      
    
    }


        &__songs{

          
            span{
                 margin-left: 5px;
                 padding-top:5px;
                 width:30px;
                 height:25px;
                 display: inline-flex;
                 justify-content: center;
                 align-items: center;
                
            }

    li{
        display:flex;
       
     
    }

            img{
                width:25px;
                margin:0 auto;
               
            }

        }

	
        
        


    &__info{
        display:flex;
        margin:0 auto;
        justify-content: center;
        align-items: flex-start;
        gap:1.2rem;
        padding:30px 0;
    }

 

    #last-review{
        border-bottom:none;
    }
    
    
    .reviews{
        display:flex;
        //justify-content: flex-start;
        //align-items: flex-start;
        gap:20px;
        border-bottom: 1px solid $medium-grey;
        
        padding:12px;
        
    
    
        &__rating{
          
            width:100px;
            display:flex;
            flex-direction: column;
            //justify-content: flex-end;
            align-items: center;
            //padding-block-start: 10px;;
          
    
           
        }
    
        &__rate{
            font-size: $txt-big;
            font-weight: 400;
           
        }
        
        &__bar{
            background-color: $medium-grey;
            width:80%;
        }
    
        &__bar span{
            display:block;
            height:6px;
        }
    
        .rate-1{ 
            width:10%; 
    
            span{
                background-color:$red;
            }
        }
        .rate-2{ width:20%; 
            span{
                background-color: $red;
            }
        }
        .rate-3{ width:30%; 
            span{
                background-color: $red;
            }
        }
        .rate-4{ width:40%; 
            span{
                background-color: $red;
            }
        }
        .rate-5{ width:50%; 
            span{
                background-color: $orange;
            }
        }
        .rate-6{ width:60%; 
            span{
                background-color: $orange;
            }
        }
        .rate-7{ width:70%; 
            span{
                background-color: $green;
            }
        }
    
        .rate-8{ width:80%; 
            span{
                background-color: $green;
            }
        }
        .rate-9{ width:90%; 
            span{
                background-color: $green;
            }
        }
        .rate-10{ width:100%; 
            span{
                background-color: $green;
            }
        }
    
    
        &__content{
            margin-block-start: 1em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap:20px;
          
        }
    
        &__header{
            display:flex;
            align-items: center;
            gap:15px;
    
            img{
                width:40px;
            }
        }
    
        &__article{
            padding-bottom: 35px;
        }
    
        &__paragraph{
            font-size: $txt-small;
            font-weight: 400;
            font-family: $text-font;
            text-align: justify;
            margin-bottom: $paragraph-margin;
            
        }
    
    
    }//end reviews
    

    .videos{
        margin-block-start: 20px;
     
        &__list{
            display:flex;
            flex-direction: column;
            align-items: center;
            gap:50px;
           
        }

     
    
    }//------ end videos






    //-------------------------------------------media queries
    @media(width < $phone){

        &{
            width:80%;
        }

        &__info{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }

        img{
            width:50%;
        }

        .videos__list iframe{
            width:315px;
            height:185;

        }


       
    }//-------------------------

    
        @media( width > $phone) and (width <=$tablet){
            &{
                width:75%;
            }

            &__info{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
            }
          
        }
        
        @media(width > $tablet) and (width <= $laptop) {
            .content{
                width:70%;
            }
          
        }

        @media(width > $laptop) and (width < $desktop){
            &{
                width:60%;
            }
        }

        @media(width > $desktop){
            &{
                width:50%;
                
            }
       
        }
       
}//end content




    //footer
    .footer{
       
        width: 100%;
        background-color: $dark-grey;
        height:100px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__icons{
            display:flex;
            justify-content: center;
            align-items: center;
            gap:15px;
    
            height:100%;
        
           img{
                width:32px ;
            }
        }

        &__copyright{
            color:white;
            font-family: $text-font;
            padding-bottom: 5px;
          
    
        }

        a{
            color:white;
         }
 
         a:hover{
             opacity:.5;
            
         }

    }










//MENU HAMBURGUESA
.hamburguer-ct 
{
  cursor: pointer;
  height: fit-content;
  width: 60px;
  transition: all .2s ease-out;
}

.hamburguer-ct 
.hamburguer-ct-stripe {
  width: 100%;
  height: 10px;
  background: $dark-grey;
  margin: 4px auto;
  transition: all 0.3s;
  backface-visibility: hidden;
  
}

.hamburguer-ct.on div:nth-child(1){ 
    transform: rotate(45deg) translate(10px, 10px);
    background: $title-color;
}
      
 .hamburguer-ct.on div:nth-child(2)
  {
    opacity: 0;
  }
  
  .hamburguer-ct.on div:nth-child(3)
 {
    transform: rotate(-45deg) translate(10px, -10px);
    background: $title-color;
  }
